@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 98%);
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}
button {
  background: transparent;
  border: transparent;
  cursor: pointer;
  font: inherit;
  padding: 15px 30px;
  border-radius: 50px;
}
a {
  text-decoration: none;
  color: inherit;
}
.request {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  color: hsl(0, 0%, 100%);
}
.links,
.request {
  display: none;
}
/* nav adjustments */
nav {
  position: fixed;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  z-index: 111;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:  0;
}
#mobile_nav {
  background-color: hsla(233, 26%, 24%, 0.08);
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.mobile-links {
  max-width: 300px;
  margin: 0 auto;
  background: hsl(0, 0%, 100%);
  border-radius: 18px;
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 35px 0;
}

/* Larger screens */
@media screen and (min-width: 1024px) {
  .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: hsl(233, 8%, 62%);
  }
  .links a {
    border-bottom: 4px solid transparent;
    padding: 20px 0;
  }
  .links a:hover {
    border-image:  linear-gradient( to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-image-slice: 1;
    color: black;
  } 
  .request {
    display: block;
  }
  .request:hover {
    opacity: 0.5;
  }
  #hamburger {
    display: none;
  }
  #mobile_nav {
    display: none;
  }
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
